@import './colors.scss';
.utility-center-text {text-align: center;}

.utility-margin-bottom-big {
    margin-bottom: 8rem;

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        margin-bottom: 5rem;
    }
}

.utility-margin-bottom-medium {
    margin-bottom: 4rem;

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        margin-bottom: 3rem;
    }
}

.utility-margin-bottom-small {margin-bottom: 1.5rem;}


.sectionAbout{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; /*95vh - 75vh of header*/

     // width < 900px - tablet portrait
     @media only screen and (max-width: 56.25em) { //900/16
        padding: 20rem 0;
        margin-bottom: -20rem;
    }

    // width < 600px - phone
    @media only screen and (max-width: 37.5em) {
        margin-bottom: -45rem;
    }
}

.headingSecondary {
    font-size: 3rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    transition: all .2s;

    &__game{
        background-image: linear-gradient(to right, $color-game-button-light, $color-game-button-dark);
        -webkit-background-clip: text;
        color: transparent;
        
        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) {
            font-size: 3rem;
        }

        // width < 600px - phone
        @media only screen and (max-width: 37.5em) {
            font-size: 2.5rem;
        }
    }

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) {
        font-size: 3rem;
    }

    // width < 600px - phone
    @media only screen and (max-width: 37.5em) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 20px rgba($color-black, .2);
    }
}

.container {
    padding: 0 8rem;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 8rem;
    justify-content: center;

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        padding: 0 5rem;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 12rem;
        justify-content: center;
    }    

    // width < 600px - phone
    @media only screen and (max-width: 37.5em) { //600/16
        padding: 0 4rem;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10rem;
        justify-content: center;
    }
}

.headingTertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    text-align: justify;
    text-justify: inter-word;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-secondary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-secondary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-secondary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0); //initial position
    }
}


.composition {
    position: relative;

    &__link{
        width: 100%;
    }

    &__photo {
        width: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1.5rem;

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            float: left;
            position: relative; //to get rid of absolute above
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }


        &--p1 {
            left: 3rem;
            top: -2rem;

            // width < 900px - tablet portrait
            @media only screen and (max-width: 56.25em) { //900/16
                left: 0;
                top: 0;
                transform: scale(1.4, 1.7);
            }
        }

        &--p2 {
            right:0;
            top: 2rem;

            // width < 900px - tablet portrait
            @media only screen and (max-width: 56.25em) { //900/16
                top: -1rem;
                transform: scale(1.4, 1.7);
                z-index: 100;
            }
        }

        &--p3 {
            left:5%;
            top: 10rem;

            // width < 900px - tablet portrait
            @media only screen and (max-width: 56.25em) { //900/16
                left:0;
                top: 0;
                transform: scale(1.4, 1.7);
            }
        }
        &--p4 {
            right: 2rem;
            top: 15rem;

            // width < 900px - tablet portrait
            @media only screen and (max-width: 56.25em) { //900/16
                display: none;
            }
        }

        &:hover {
            outline: 1.3rem solid $color-primary-outline;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}