$color-primary: #6bd4facc;
$color-primary-outline: #6bd4fa;
$color-secondary: #287fb8cc;

$color-card1-light: #38ef7d;
$color-card1-dark: #11998e;

$color-card2-light: #396afc;
$color-card2-dark: #2948ff;

$color-card3-light: #fe8c00;
$color-card3-dark: #f83600;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$default-font-size: 1.6rem;