$color-primary: rgba(107, 212, 250, 0.8);
$color-primary-outline: #6bd4fa;
$color-secondary: #287fb8cc;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$default-font-size: 1.6rem;