$color-primary: #6bd4facc;
$color-primary-outline: #6bd4fa;
$color-secondary: #287fb8cc;

$color-card1-light: #38ef7d;
$color-card1-dark: #11998e;

$color-card2-light: #396afc;
$color-card2-dark: #2948ff;

$color-card3-light: #ff6a00;
$color-card3-dark: #ee0979;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-year1-light: #52c234;
$color-year1-dark: #061700;

$color-year2-light: #36D1DC;
$color-year2-dark: #5B86E5;

$color-year3-light: #c31432;
$color-year3-dark: #240b36;

$default-font-size: 1.6rem;