@import './colors.scss';


.sectionMusic {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.8), 
        rgba($color-secondary, 0.8)),
        url(../img/delorean.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -15rem;

     // width < 900px - tablet portrait
     @media only screen and (max-width: 56.25em) { //900/16
        padding: 10rem 0;
    }
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    column-gap: 10rem;
    justify-content: center;
    transform: skewY(7deg);

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        display: grid;
        grid-template-columns: repeat(1, 85%);
        row-gap: 5rem;
        justify-content: center;
        transform: skewY(7deg);
    }
}

.musicBox {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        padding: 2rem;
    }

    & p{
        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            display: none;
        }
    }

    &__img {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        border: 7px solid $color-primary-outline;
        object-fit: cover;
        margin-bottom: 1rem;

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            width: 8rem;
            height: 8rem;
            border-radius: 20%;
            border: 2px solid $color-primary-outline;
            object-fit: cover;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03) ;
        backface-visibility: hidden;

        // width < 1200px - tablet landscape
        @media only screen and (max-width: 75em) { //1200/16
            transform: translateY(0) scale(1) ;
            backface-visibility: hidden;
        }
    }
}