@import './colors.scss';


.sectionReview {
    padding: 15rem 0;
    position: relative; //bg video

    @media only screen and (max-width: 56.25em) { //900/16
        padding: 10rem 0;
    }
}

.reviews{
    list-style-type: none;
    display: flex;
    flex-direction: column; //main axis now
    align-items: center; // version of justify-content for direction:row

    & > li {
        width: 63%;
        margin: 4rem;
        padding: 5rem;
        padding-left: 9rem; // 6rem + (-3rem from translateX)
        box-shadow: 0 3rem 6rem rgba($color-black, .1);
        background-color: rgba($color-white, .6); //content li 
        border-radius: 3px;
        font-size: 1.7rem;
        transform: skewX(-12deg);

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            width: 80%;
            padding: 3rem;
            padding-left: 5rem; 
        }
        // width < 600px - phone
        @media only screen and (max-width: 37.5em) {//600/16
            width: 85%;
            transform: skewX(0);
        }

        &:hover {
            .reviews__caption{
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            img{
                transform: scale(1);
                filter: blur(3px) brightness(80%);
            }
        }
    }

    &__shape{
        width: 15rem; //mandatory for shape-outside
        height: 15rem; //mandatory for shape-outside
        float: left; //mandatory for shape-outside

        -webkit-shape-outside: circle(50% at 50% 50%); //for Safari
        shape-outside: circle(50% at 50% 50%); //only defines where the content floats around the element (circle in this case)

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); //if we want the element to look that circle, to specify a specific region of an element to display, rather than showing the complete area

        transform: translateX(-3rem) skewX(12deg); //best way to move around a float element is to use transformX or Y NOT margin

        position: relative;
        // backface-visibility: hidden;

        // width < 600px - phone
        @media only screen and (max-width: 56.25em) { //600/16
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img{
        width: 100%;
        transform: scale(1.1); //110%, initially, to be able to zoom out on hover later
        transition: all .5s; //for transform scale in hover img (here is the parent)
        backface-visibility: hidden;


    }

    &__caption{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, 20%);//best way to move around a float element is to use transform NOT margin
        color: $color-white;
        text-transform: uppercase;
        font-size: $default-font-size;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__text{
        transform: skewX(12deg);

        // width < 600px - phone
        @media only screen and (max-width: 56.25em) { //600/16
            transform: skewX(0);
        }
    }
}

.bg-video{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover; //works with html elements - similar to background-size: cover for images;
    }
}