@import '../colors.scss';

.memory {
    &__card{
        margin: 6px;
        outline: 4px solid #6bd4facc;
        text-align: center;

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            height: 5rem;
        }
    }
}


.memory {
    &__card.hidden{
            background-image: linear-gradient(to right bottom, #6bd4facc, #2948ff);
    }   
}


.memory {
    &__card.justMatched, &__card.justMismatched {
        outline: 4px solid blue;
    }
}


.memory {
    &__card.justMismatched {
        outline-color: red;
    }
}


.memory {
    &__card.visible {
        cursor: not-allowed;
    }
}


.memory {
    &__card > .symbol {
        font-size: 5.5rem;
        margin:auto 0;

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            font-size: 3rem;
        }
    }
}

