@import '../colors.scss';

.sectionMusic {
    padding: 15rem 0 20rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.8), 
        rgba($color-secondary, 0.8)),
        url(../../img/delorean.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -15rem;

     // width < 900px - tablet portrait
     @media only screen and (max-width: 56.25em) { //900/16
        padding: 10rem 0;
    }
}
.titleMusic{
    transform: skewY(7deg);
    margin-bottom: 10rem;

    &:hover {
        transform: skewY(9deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 20px rgba($color-black, .2);
    }
}

.container2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    transform: skewY(7deg);

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        display: grid;
        grid-template-columns: repeat(1, 85%);
        row-gap: 5rem;
        justify-content: center;
        transform: skewY(7deg);
    }
}

.musicBox {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    // width < 900px - tablet portrait
    @media only screen and (max-width: 56.25em) { //900/16
        padding: 2rem;
    }

    & p{
        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            display: none;
        }
    }

    &__img {
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        border: 5px solid $color-primary-outline;
        object-fit: cover;

        // width < 900px - tablet portrait
        @media only screen and (max-width: 56.25em) { //900/16
            width: 8rem;
            height: 8rem;
            border: 1px solid $color-primary-outline;
            object-fit: cover;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03) ;
        backface-visibility: hidden;

        // width < 1200px - tablet landscape
        @media only screen and (max-width: 75em) { //1200/16
            transform: translateY(0) scale(1) ;
            backface-visibility: hidden;
        }
    }
}
.info-crew{
    width: 57%;
    margin: 0 auto;
}

button.playSong, button.stopSong{
    border: none;
    background-color: inherit;
    color: $color-grey-dark;

    &:active {
        transform: translateY(1.5px) scale(.95);
        // box-shadow: -2px 1px gray;
        // box-shadow: 1px 1px 3px red;
    }

    &:focus{
        outline: none;
    }
}


.musicBox .musicBox__img{
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}


.musicBox.playing .musicBox__img{
    animation-play-state: running;
}


.musicBox.stop .musicBox__img{
    animation: 0s;
}

.audio-set{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: auto;
}

.audio-playSong, .audio-stopSong{
    padding-top: 3rem;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}