@import '../colors.scss';

.sectionQuotes{
    padding: 8rem 0 5rem;
}

.changeColorQuote{
    background-image: linear-gradient(to bottom, $color-card3-dark, $color-card3-light);
}

.quote{
    margin: 0 auto;
    width: 40%; 
    height: 25rem;
    background-color: #000;
    border: .4px solid #fff;
    border-radius: 5px;
    position: relative;

    // width < 1200px - tablet landscape
    @media only screen and (max-width: 75em) { //1200/16
        width: 85%; 
        height: 30rem;
    }
}

.text{
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    margin-top: 8rem;
    padding: 0 2rem;
    text-align: center;
}

.movie {
    margin-top: 2.5rem;
    color: $color-grey-dark;
    font-size: 2rem;
    float: right;
    padding: 0 5rem;
}

.fa-quote-left{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $color-grey-dark;
}

.fa-quote-right{
    position: absolute;
    top: 85%;
    left: 93%;
    color: $color-grey-dark;

    // width < 600px - phone
    @media only screen and (max-width: 37.5em) {
        left: 90%;
    }
}

.test{
    margin-top: 8rem;

    &__btn{
        padding: 2rem 7rem;
        font-weight: 400;
        font-size: $default-font-size;
        text-transform: uppercase;
        border-radius: 10rem;
        border:none;
        color: $color-white;
        cursor: pointer;
        background-image: linear-gradient(45deg, #480048, #c04848);

        &:active {
            transform: translateY(3px);
        }

        &:focus{
            outline: none;
        }
    }
}